*{
  background:red
}
img{
  display: block;
  max-width: 100%;
  height: auto 0;
}

p{
  text-align: center;
  font-size: 20px
}

figcaption{
  text-align: center;
  color: yellow;
}

h3{
  text-align: center
}